@model Session
@{
    ViewData["Title"] = "UpdateSession";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form asp-action="UpdateSession" method="post">
                <div class="form-group">
                    <label>Session Time</label>
                    <input asp-for="SessionTime" value="@Model.SessionTime" type="text" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

