@model List<NetCoreMovieTheater.Models.Entities.Genre>
@{ ViewData["Title"] = "Index";
                Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml"; }



<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Genre Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var genre in Model)
                {
        <tr>
            <td>@genre.GenreName</td>
            <td>@genre.Description</td>
            <td>
                @Html.ActionLink("Remove", "RemoveGenre", new { Id = genre.Id }, new { @class = "btn btn-danger" })
                @Html.ActionLink("Update", "UpdateGenre", new { Id = genre.Id }, new { @class = "btn btn-warning" })
            </td>
        </tr>
}
            </tbody>
        </table>
    </div>
</div>


